@model List<Models.TweetViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>
    <h3>User information:</h3>
    @Html.Partial("UserInfo", (Models.UserViewModel)ViewBag.UserInfo)
    <br />

    <hr />
    <h3>User tweets:</h3>

    <div>
        @foreach (var item in Model)
        {
            @item.Body <br />
            @item.DateAdded <br />
            <br />
        }
    </div>
</body>
</html>
