@model Models.LogInUserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("LogIn", "User"))
        {
            <h2>Sign In form:</h2> 
            <p>Username: @Html.TextBoxFor(x => x.Username) </p>
            <p>Password: @Html.PasswordFor(x => x.Passwrd)</p>
            <input type="submit" value="Log In!" />
            <h3 class="text-danger">@ViewBag.errorMessage</h3>
            @Html.ValidationSummary()
        }        
    </div>
</body>
</html>