@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterSuccess</title>
</head>
<body>
    <div>
        You have been successfully registered! Now you can sign in.
        <button type="button" value="LogIn" onclick="location.href='@Url.Action("LogIn", "User")'">Sign In!</button>
    </div>
</body>
</html>
