@model Models.UserViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUserId = ((Models.UserViewModel)HttpContext.Current.Session["CurrentUser"]).Id;
}

<h3>Your profile</h3>

<div id="@currentUserId" class="view-edit-parent">
<button class="view-button-edit">Edit information</button><br />
<p>First name: <span class="first-name-edit">@Model.First_name </span><input class="collapse first-name-text"   style=""/></p>  
<p>Last name: <span class="last-name-edit">@Model.Last_name </span><input class="collapse last-name-text" /></p>
<p>E-mail: <span class="email-edit">@Model.Email </span><input class="collapse email-text" /></p>
        <div class="collapse save-cancel-buttons">
        <button class="view-edit-save">Save</button>
        <button class="view-edit-cancel">Cancel</button>
       </div>
</div>

<script>
    $('.view-edit-save').click(function (e) {
        var clickedButton = $(e.target);
        var parentBlock = clickedButton.parents('.view-edit-parent');
        var Id = $(this).parents('.view-edit-parent').attr('id');
        var fNameText = $(parentBlock).find('.first-name-text').val();
        var lNameText = $(parentBlock).find('.last-name-text').val();
        var emailText = $(parentBlock).find('.email-text').val();

        $.get('/User/Edit/', { 'First_name': fNameText, 'Last_name': lNameText, 'Email': emailText, 'Id': Id }, function (data) {
            if (data == 'True') {
                $(parentBlock).find('.save-cancel-buttons').hide();
                $(parentBlock).find('.first-name-text').hide();
                $(parentBlock).find('.last-name-text').hide();
                $(parentBlock).find('.email-text').hide();
                $(parentBlock).find('.first-name-edit').text(fNameText).show();
                $(parentBlock).find('.last-name-edit').text(lNameText).show();
                $(parentBlock).find('.email-edit').text(emailText).show();

                window.location.href = "/User/UsersProfile";
            }
            else {
                alert('Wrong email format or email is already in use.');
            }
        });

    });

    </script>