@model Models.TweetModel

@using (Html.BeginForm("Add", "Tweet"))
{
    <p>What's new?</p>
    @Html.TextAreaFor(model => model.Body)
    <input type="submit" class="tweet" value="Tweet!" />
    @Html.ValidationSummary()
}