@model Models.TweetModel

@using (Html.BeginForm("AddNewTweet", "Tweet"))
{
    <p>Whats new?</p>
    @Html.TextAreaFor(model => model.Body)
    <input type="submit" class="tweet" value="Tweet!" />
    <h2 class="text-danger">@ViewBag.errorMessage</h2>
}