@model Models.TweetViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Newsfeed</title>
</head>
<body>
    <div>
        <h2>Newsfeed</h2>
    </div>

    @using(Html.BeginForm())
    {
        <p>Whats new?</p>
        @Html.TextAreaFor(model => model.Body)
        <input type="submit" class="tweet" value="Tweet!" />
        @Html.ValidationSummary()
    }

    @Html.Partial("CurrentUserString", (HttpContext.Current.Session["CurrentUser"] as Models.LogInUserViewModel) );

    <button type="button" value="Register" onclick="location.href='@Url.Action("LogOut", "Tweet")'">Log out!</button>

    
    <h3>My Tweeets:</h3>
    
    <script>
        $(document).ready(function () {
            $(".tweet").click(function () {
                $.ajax({
                    url: '/Tweet/Newsfeed/',
                    type: "POST",
                    data: {
                        Body: $('#Body').val()
                    },
                    success: function (data) {
                        $('#tweets').html(data);
                    }
                })
            });
        });
    </script>
</body>
</html>
