@model List<Models.TweetViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Newsfeed</title>
</head>
<body>
    <h2>Newsfeed</h2>

    @{ Html.RenderPartial("Add", new Models.TweetModel()); }
    <span class="badge">Tweets: @Model.Count</span>

    <div id="tweets" style="width: 50%; margin: 0 auto;">
        <h3>Tweets:</h3>
        @foreach (var item in Model)
        {
        
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h7 class="panel-title">@item.DateAdded </h7>
                </div>
                <div class="panel-body">
                   <h5> @item.Body</h5>
                    <br />
                    <br />
                </div>
            </div>
            
        }
    </div>
</body>
</html>
