@model List<Models.TweetViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Newsfeed</title>
</head>
<body>
    <h2>Newsfeed</h2>

    @{ Html.RenderPartial("Add", new Models.TweetModel()); }
   
    <h3>Tweets:</h3>
    <div id="tweets">
        @foreach (var item in Model)
        {
            @item.Body <br />
            @item.DateAdded <br />
            <br />
        }
    </div>

@*    <script>
        $(document).ready(function () {
            $(".tweet").click(function () {
                $.ajax({
                    url: '/Tweet/Newsfeed/',
                    type: "POST",
                    data: {
                        Body: $('#Body').val()
                    },
                    success: function (data) {
                        $('#tweets').html(data);
                    }
                })
            });
        });
    </script>*@
</body>
</html>
