@model List<Models.TweetViewModel>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Newsfeed</title>
</head>
<body>
    <div id="newsfeed-tweets" style="width: 50%; margin: 0 auto;">
        <h2>What's new?</h2>
        @{ Html.RenderPartial("Add", new Models.TweetModel()); }
        <span class="badge">Tweets: <span id="tweets-counter">@Model.Count</span></span>

        <h3>Tweets:</h3>
        <div class="form-horizontal">
            <h5>@Html.Partial("TweetPartial", Model)</h5>
        </div>
    </div>
</body>
</html>