@model List<Models.TweetViewModel>

@foreach (var item in Model)
{

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h7 class="panel-title">@item.DateAdded </h7>
        </div>
        <div class="panel-body">
            <h5 style="word-wrap: break-word;">@item.Body</h5>
            <br />
            <br />
        </div>
    </div>

}