#main .img-circle {
    margin-top: 18px;
    height: 70px;
    width: 70px;
}

textarea {
    resize: none;
    padding: 8px 8px 8px 8px;
}

.panel-heading
{
    font-size: 18px;
    padding: 0 15px;
}

.panel-title
{
    padding: 0 1px;
}

.button-action-edit {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-top: 5px;
    padding-right: 20px;
    cursor: pointer;
}

.button-action-delete {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-top: 5px;
    cursor: pointer;
}

.navbar {
    margin-bottom: 0px;
}

.logout:hover {
        background-color: orange !important;
        color: black !important;
        text-decoration: none;
    }

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;
}

#helloString :hover{
    border-color: transparent !important;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    background-color: #f5f5f5;
}

    #footer p {
        padding-top: 30px;
    }

.action-follow {
    position: absolute;
    right: 475px;
    top: 205px;
    background: #3498db;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.action-follow:hover {
        background: #3cb0fd;
        text-decoration: none;
    }

.action-unfollow {
    position: absolute;
    right: 475px;
    top: 205px;
    background: #FFA500;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.action-unfollow:hover {
        background: #E74C3C;
        color: #000;
        text-decoration: none;
}

    

.back-to-top {
    display: none;
    right: 20px;
    bottom: 80px;
    position: fixed;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    right: 80px;
    bottom: 80px;
    position: fixed;
    z-index: 99999999;
    cursor: pointer;
    background: #4183D7 url("up-arrow.png") no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.foll {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 11px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
}

    .foll:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
    }

.unfoll {
    background: #FFA500;
    border-radius: 11px;
    font-family: Arial;
    color: #000;
    font-size: 14px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
}

    .unfoll:hover {
        background: #E74C3C;
        color: #fff;
        text-decoration: none;
    }