@model Models.UserModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <center>
        <h1>Welcome to Twitter! :)</h1>

        <button type="button" value="LogIn" onclick="location.href='@Url.Action("LogIn", "User")'">Sign In!</button>
        <br />
        <br />
        <button type="button" value="Register" onclick="location.href='@Url.Action("SignUp", "User")'">Register!</button>
    </center>
</body>
</html>