@model Models.TweetModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Newsfeed</title>
</head>
<body>
    <div>
        Newsfeed
    </div>

    @using(Html.BeginForm())
    {
        <p>Whats new ?</p>
        @Html.TextAreaFor(model => model.Body)
        <input type="submit" value="Tweet!" />
        @Html.ValidationSummary()
    }
</body>
</html>
